@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Space+Grotesk:wght@300..700&display=swap");

$primary-color: #103d39;
$secondary-color: #2ec18d;
$complete-color: #f4d19d;
$light-background: #dfe6e4;
$dark-background: #5e5e5e;
$text-color: #333;
$white-color: #fff;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  font-size: 17px;
  color: $text-color;
  h1 {
    font-size: 3em;
    line-height: 1.2em;
    font-family: "Space Grotesk", sans-serif;
  }
  h2 {
    font-size: 2em;
    font-family: "Space Grotesk", sans-serif;
  }
  h3 {
    font-family: "Space Grotesk", sans-serif;
    font-size: 1.5em;
  }
  h4 {
    font-family: "Space Grotesk", sans-serif;
    font-size: 1em;
  }
  p {
    line-height: 1.5em;
  }
  a {
    text-decoration: none;
  }
}

.btn {
  a {
    font-family: "Space Grotesk", sans-serif;
    letter-spacing: 2px;
  }
}

.container {
  width: 90%;
  margin: 0 auto;
}

header {
  padding: 0 1em;
  position: sticky;
  top: 0;
  background: $white-color;
  .container {
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em 0;
    .btn_nav {
      display: none;
      z-index: 10;
    }
    nav {
      ul {
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
        gap: 1.5em;
        li {
          display: inline;
          font-family: "Space Grotesk", sans-serif;
          a {
            color: $text-color;
          }
        }
      }
      .btn-contato {
        display: none;
      }
    }
    .btn-contato {
      background: $secondary-color;
      padding: 0.8em 2em;
      border-radius: 5px;
      box-shadow: 0 2px 7px #00472d;
      a {
        color: $white-color;
        text-transform: uppercase;
      }
    }
  }
}

.hero {
  background: $primary-color;
  padding: 5em 1em;
  .container {
    max-width: 1200px;
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr;
    gap: 4em;
    .hero_text {
      display: grid;
      align-content: center;
      gap: 0.8em;
      h1 {
        margin: 0 0 1em 0;
        color: $secondary-color;
      }

      p {
        margin: 0 0 1em 0;
        color: $white-color;
      }

      .btn {
        width: fit-content;
        width: -moz-fit-content;
        background: $secondary-color;
        padding: 1em 3em;
        border-radius: 5px;
        box-shadow: 0 2px 7px #00472d;
        a {
          color: $white-color;
          text-transform: uppercase;
        }
      }
    }

    .hero_image {
      img {
        max-width: 100%;
        height: auto;
      }
    }
  }
}

.projects {
  padding: 5em 1em;
  background: #f5f7fa;
  .container {
    max-width: 1200px;
    display: grid;
    gap: 2em;
    h2 {
      text-align: center;
      margin-bottom: 2em;
      color: $primary-color;
    }
    .project_list {
      overflow: hidden;
      display: grid;
      gap: 3em;
      .list_container {
        width: max-content;
        display: flex;
        .project {
          width: 300px;
          display: grid;
          align-content: baseline;
          background: $white-color;
          .image_project {
            img {
              max-width: 100%;
              height: auto;
            }
          }
          .infos_project {
            display: grid;
            gap: 1em;
            padding: 1em;
            .title_project {
              h3 {
                margin-top: 0;
                color: #123d39;
              }
            }
            .description_project {
              display: grid;
              gap: 0.7em;
              ::before {
                content: "◢";
                margin-right: 5px; /* Adicione um espaço entre o símbolo e o texto */
                color: #000; /* Altere a cor se necessário */
              }
            }
            .status_project {
              p {
                ::before {
                  content: "✓";
                  margin-right: 5px; /* Adicione um espaço entre o símbolo e o texto */
                  color: #000; /* Altere a cor se necessário */
                }
              }
            }
            .local_project {
              display: flex;
              align-items: center;
              gap: 0.5em;
            }
          }
        }
        .box_list {
          width: 100%;
          display: flex;
          justify-content: center;
          gap: 1.5em;
          &:not(.selected) {
            display: none;
          }
        }
        &:has(.selected) {
          width: 100%;
          display: flex;
        }
      }
      .bullets {
        display: flex;
        justify-content: center;
        gap: 3em;
        .bullet {
          width: 10px;
          height: 10px;
          background: #22222233;
          cursor: pointer;
          &.selected {
            background: #222222;
          }
        }
      }
    }
  }
}

.partners {
  padding: 5em 1em;
  .container {
    max-width: 1200px;
    h2 {
      text-align: center;
      margin-bottom: 2em;
      color: $primary-color;
    }
    .partner-logos {
      display: flex;
      align-items: baseline;
      justify-content: center;
      gap: 4em;
      img {
        width: 120px;
      }
    }
  }
}

.careers {
  background: $primary-color;
  padding: 5em 1em;
  .container {
    max-width: 1200px;
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr;
    gap: 4em;
    .career_images {
      img {
        max-width: 100%;
        height: auto;
        border-radius: 6px;
      }
    }
    .career_text {
      display: grid;
      align-content: center;
      gap: 0.5em;
      h2 {
        margin: 0 0 1em 0;
        color: $secondary-color;
      }
      p {
        margin: 0 0 1em 0;
        color: $white-color;
      }
      .btn {
        width: fit-content;
        width: -moz-fit-content;
        background: $secondary-color;
        padding: 1em 3em;
        border-radius: 5px;
        box-shadow: 0 2px 7px #00472d;
        a {
          color: $white-color;
          text-transform: uppercase;
        }
      }
    }
  }
}

footer {
  padding: 2em 1em 1em;
  .container {
    max-width: 1200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-bottom: 3em;
    border-bottom: 1px solid #e4ebf3;
    .footer-logo {
      h1 {
        margin: 0;

        span {
          color: $secondary-color;
        }
      }
    }

    .footer_nav {
      ul {
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
        gap: 4em;
        justify-content: center;

        li {
          display: inline;

          a {
            text-decoration: none;
          }
        }
      }
    }
  }
  .icons_link{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 1em 0;
    .redes{
      display: flex;
      gap: 18px;
      svg{
        padding: 0px;
      }
    }
  }
  .footer_bottom {
    width: 100%;
    text-align: center;
    margin-top: 1em;
    p {
      font-size: 0.8em;
    }
  }
}

//pages
.how-we-work {
  padding: 5em 1em;
  background: #f5f7fa;
  .container {
    max-width: 1200px;
    display: grid;
    justify-content: center;
    gap: 2em;
    text-align: center;
    .btn {
      width: fit-content;
      width: -moz-fit-content;
      background: $secondary-color;
      padding: 1em 3em;
      margin: auto;
      text-decoration: none;
      border-radius: 5px;
      box-shadow: 0 2px 7px #00472d;
      a {
        color: $white-color;
        text-transform: uppercase;
      }
    }
    .image {
      margin-top: 2em;
      img {
        width: 100%;
        height: auto;
        display: block;
        margin: 0 auto;
      }
    }
  }
}

.about-us {
  padding: 5em 1em;
  background: #000;
  .container {
    max-width: 1200px;
    color: $white-color;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 4em;
    .image_about {
      h1 {
        color: $secondary-color;
        margin-bottom: 2em;
      }

      .about_image {
        img {
          width: 100%;
          max-width: 420px;
          height: auto;
          border-radius: 10px;
        }
      }
    }
    .about-content {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: justify;

      .about-text {
        flex: 1;
        max-width: 600px;
        margin-bottom: 2em;

        p {
          color: #dfdede;
          margin-bottom: 1em;
        }
      }
    }
  }
}

@media (max-width: 800px), (orientation: portrait) {
  * {
    font-size: 16px;
  }
  .container {
    width: 100%;
  }

  header {
    padding: 0 1em;
    .container {
      max-width: 1200px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 1em 0;
      .logo {
        z-index: 10;
        a {
          svg {
            width: 100px;
          }
        }
      }
      nav {
        width: 100%;
        height: 100%;
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        background: $white-color;
        ul {
          list-style: none;
          padding: 0;
          margin: 0;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          gap: 1.5em;
          li {
            display: inline;
            a {
              color: $text-color;
            }
          }
        }
      }
      .btn_nav {
        display: block;
        &.open {
          ~ nav {
            display: grid;
            justify-content: center;
            align-content: center;
            gap: 4em;
            .btn-contato {
              display: block;
            }
          }
        }
      }
      .btn-contato {
        display: none;
      }
    }
  }
  .hero {
    padding: 3em 1.5em;
    .container {
      grid-template-columns: 1fr;
      gap: 2em;
      .hero_text {
        h1 {
          font-size: 2.5em;
        }
        p {
          font-size: 1em;
        }
        .btn {
          padding: 0.8em 2em;
        }
      }
      .hero_image {
        img {
          width: 100%;
        }
      }
    }
  }
  .partners {
    padding: 3em 1.5em;
    .container {
      h2 {
        text-align: center;
        margin-bottom: 2em;
        color: $primary-color;
      }
      .partner-logos {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        gap: 2em;
        img {
          width: 120px;
        }
      }
    }
  }
  .projects {
    padding: 3em 1.5em;
    .container {
      gap: 1em;
    }
  }
  .careers {
    padding: 3em 1.5em;
    .container {
      grid-template-columns: 1fr;
      gap: 2em;
      .career_images {
        img {
          width: 100%;
        }
      }
      .career_text {
        h2 {
          font-size: 2em;
        }
        p {
          font-size: 0.9em;
        }
        .btn {
          padding: 0.8em 2em;
        }
      }
    }
  }
  footer {
    padding: 1em;
    .container {
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding-bottom: 2em;
      gap: 1em;
      .footer-logo {
        h1 {
          font-size: 2em;
        }
      }
      .footer_nav {
        ul {
          gap: 2em;
        }
      }
    }
    .footer_bottom {
      p {
        font-size: 0.7em;
      }
    }
  }
  .how-we-work {
    padding: 3em 1.5em;
    .container {
      gap: 1em;
    }
  }
  .about-us {
    padding: 3em 1.5em;
    .container {
      grid-template-columns: 1fr;
      gap: 2em;
      .image_about {
        h1 {
          font-size: 2em;
        }
        .about_image {
          img {
            max-width: 100%;
          }
        }
      }
      .about-content {
        .about-text {
          p {
            font-size: 0.9em;
          }
        }
      }
    }
  }
}
