@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Space+Grotesk:wght@300..700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  font-size: 17px;
  color: #333;
}
* h1 {
  font-size: 3em;
  line-height: 1.2em;
  font-family: "Space Grotesk", sans-serif;
}
* h2 {
  font-size: 2em;
  font-family: "Space Grotesk", sans-serif;
}
* h3 {
  font-family: "Space Grotesk", sans-serif;
  font-size: 1.5em;
}
* h4 {
  font-family: "Space Grotesk", sans-serif;
  font-size: 1em;
}
* p {
  line-height: 1.5em;
}
* a {
  text-decoration: none;
}

.container {
  width: 90%;
  margin: 0 auto;
}

header {
  padding: 0 1em;
  position: sticky;
  top: 0;
  background: #fff;
}
header .container {
  max-width: 1200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em 0;
}
header .container .btn_nav {
  display: none;
  z-index: 10;
}
header .container nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 1.5em;
}
header .container nav ul li {
  display: inline;
}
header .container nav ul li a {
  color: #333;
}
header .container nav .btn-contato {
  display: none;
}
header .container .btn-contato {
  background: #2ec18d;
  padding: 0.8em 2em;
  border-radius: 5px;
  box-shadow: 0 2px 7px #00472d;
}
header .container .btn-contato a {
  color: #fff;
  text-transform: uppercase;
}

.hero {
  background: #103d39;
  padding: 5em 1em;
}
.hero .container {
  max-width: 1200px;
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 1fr;
  gap: 4em;
}
.hero .container .hero_text {
  display: grid;
  align-content: center;
  gap: 0.8em;
}
.hero .container .hero_text h1 {
  margin: 0 0 1em 0;
  color: #2ec18d;
}
.hero .container .hero_text p {
  margin: 0 0 1em 0;
  color: #fff;
}
.hero .container .hero_text .btn {
  width: fit-content;
  width: -moz-fit-content;
  background: #2ec18d;
  padding: 1em 3em;
  border-radius: 5px;
  box-shadow: 0 2px 7px #00472d;
}
.hero .container .hero_text .btn a {
  color: #fff;
  text-transform: uppercase;
}
.hero .container .hero_image img {
  max-width: 100%;
  height: auto;
}

.projects {
  padding: 5em 1em;
  background: #f5f7fa;
}
.projects .container {
  max-width: 1200px;
  display: grid;
  gap: 2em;
}
.projects .container h2 {
  text-align: center;
  margin-bottom: 2em;
  color: #103d39;
}
.projects .container .project_list {
  overflow: hidden;
  display: grid;
  gap: 3em;
}
.projects .container .project_list .list_container {
  width: -moz-max-content;
  width: max-content;
  display: flex;
}
.projects .container .project_list .list_container .project {
  width: 300px;
  display: grid;
  align-content: baseline;
  background: #fff;
}
.projects .container .project_list .list_container .project .image_project img {
  max-width: 100%;
  height: auto;
}
.projects .container .project_list .list_container .project .infos_project {
  display: grid;
  gap: 1em;
  padding: 1em;
}
.projects .container .project_list .list_container .project .infos_project .title_project h3 {
  margin-top: 0;
  color: #123d39;
}
.projects .container .project_list .list_container .project .infos_project .description_project {
  display: grid;
  gap: 0.7em;
}
.projects .container .project_list .list_container .project .infos_project .description_project ::before {
  content: "◢";
  margin-right: 5px; /* Adicione um espaço entre o símbolo e o texto */
  color: #000; /* Altere a cor se necessário */
}
.projects .container .project_list .list_container .project .infos_project .status_project p ::before {
  content: "✓";
  margin-right: 5px; /* Adicione um espaço entre o símbolo e o texto */
  color: #000; /* Altere a cor se necessário */
}
.projects .container .project_list .list_container .project .infos_project .local_project {
  display: flex;
  align-items: center;
  gap: 0.5em;
}
.projects .container .project_list .list_container .box_list {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 1.5em;
}
.projects .container .project_list .list_container .box_list:not(.selected) {
  display: none;
}
.projects .container .project_list .list_container:has(.selected) {
  width: 100%;
  display: flex;
}
.projects .container .project_list .bullets {
  display: flex;
  justify-content: center;
  gap: 3em;
}
.projects .container .project_list .bullets .bullet {
  width: 10px;
  height: 10px;
  background: rgba(34, 34, 34, 0.2);
  cursor: pointer;
}
.projects .container .project_list .bullets .bullet.selected {
  background: #222222;
}

.partners {
  padding: 5em 1em;
}
.partners .container {
  max-width: 1200px;
}
.partners .container h2 {
  text-align: center;
  margin-bottom: 2em;
  color: #103d39;
}
.partners .container .partner-logos {
  display: flex;
  align-items: baseline;
  justify-content: center;
  gap: 4em;
}
.partners .container .partner-logos img {
  width: 120px;
}

.careers {
  background: #103d39;
  padding: 5em 1em;
}
.careers .container {
  max-width: 1200px;
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 1fr;
  gap: 4em;
}
.careers .container .career_images img {
  max-width: 100%;
  height: auto;
  border-radius: 6px;
}
.careers .container .career_text {
  display: grid;
  align-content: center;
  gap: 0.5em;
}
.careers .container .career_text h2 {
  margin: 0 0 1em 0;
  color: #2ec18d;
}
.careers .container .career_text p {
  margin: 0 0 1em 0;
  color: #fff;
}
.careers .container .career_text .btn {
  width: fit-content;
  width: -moz-fit-content;
  background: #2ec18d;
  padding: 1em 3em;
  border-radius: 5px;
  box-shadow: 0 2px 7px #00472d;
}
.careers .container .career_text .btn a {
  color: #fff;
  text-transform: uppercase;
}

footer {
  padding: 2em 1em 1em;
}
footer .container {
  max-width: 1200px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 3em;
  border-bottom: 1px solid #e4ebf3;
}
footer .container .footer-logo h1 {
  margin: 0;
}
footer .container .footer-logo h1 span {
  color: #2ec18d;
}
footer .container .footer_nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 4em;
  justify-content: center;
}
footer .container .footer_nav ul li {
  display: inline;
}
footer .container .footer_nav ul li a {
  text-decoration: none;
}
footer .footer_bottom {
  width: 100%;
  text-align: center;
  margin-top: 1em;
}
footer .footer_bottom p {
  font-size: 0.8em;
}

.how-we-work {
  padding: 5em 1em;
  background: #f5f7fa;
}
.how-we-work .container {
  max-width: 1200px;
  display: grid;
  justify-content: center;
  gap: 2em;
  text-align: center;
}
.how-we-work .container .btn {
  width: fit-content;
  width: -moz-fit-content;
  background: #2ec18d;
  padding: 1em 3em;
  margin: auto;
  text-decoration: none;
  border-radius: 5px;
  box-shadow: 0 2px 7px #00472d;
}
.how-we-work .container .btn a {
  color: #fff;
  text-transform: uppercase;
}
.how-we-work .container .image img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
}

.about-us {
  padding: 5em 1em;
  background: #000;
}
.about-us .container {
  max-width: 1200px;
  color: #fff;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 4em;
}
.about-us .container .image_about h1 {
  color: #2ec18d;
  margin-bottom: 2em;
}
.about-us .container .image_about .about_image img {
  width: 100%;
  max-width: 420px;
  height: auto;
  border-radius: 10px;
}
.about-us .container .about-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: justify;
}
.about-us .container .about-content .about-text {
  flex: 1;
  max-width: 600px;
  margin-bottom: 2em;
}
.about-us .container .about-content .about-text p {
  color: #dfdede;
  margin-bottom: 1em;
}

@media (max-width: 800px), (orientation: portrait) {
  * {
    font-size: 16px;
  }
  .container {
    width: 100%;
  }
  header {
    padding: 0 1em;
  }
  header .container {
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em 0;
  }
  header .container .logo {
    z-index: 10;
  }
  header .container .logo a svg {
    width: 100px;
  }
  header .container nav {
    width: 100%;
    height: 100%;
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    background: #fff;
  }
  header .container nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5em;
  }
  header .container nav ul li {
    display: inline;
  }
  header .container nav ul li a {
    color: #333;
  }
  header .container .btn_nav {
    display: block;
  }
  header .container .btn_nav.open ~ nav {
    display: grid;
    justify-content: center;
    align-content: center;
    gap: 4em;
  }
  header .container .btn_nav.open ~ nav .btn-contato {
    display: block;
  }
  header .container .btn-contato {
    display: none;
  }
  .hero {
    padding: 3em 1.5em;
  }
  .hero .container {
    grid-template-columns: 1fr;
    gap: 2em;
  }
  .hero .container .hero_text h1 {
    font-size: 2.5em;
  }
  .hero .container .hero_text p {
    font-size: 1em;
  }
  .hero .container .hero_text .btn {
    padding: 0.8em 2em;
  }
  .hero .container .hero_image img {
    width: 100%;
  }
  .partners {
    padding: 3em 1.5em;
  }
  .partners .container h2 {
    text-align: center;
    margin-bottom: 2em;
    color: #103d39;
  }
  .partners .container .partner-logos {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2em;
  }
  .partners .container .partner-logos img {
    width: 120px;
  }
  .projects {
    padding: 3em 1.5em;
  }
  .projects .container {
    gap: 1em;
  }
  .projects .container .project_list .list_container .project {
    width: 100%;
  }
  .projects .container .project_list .list_container .project .image_project img {
    max-width: 100%;
  }
  .careers {
    padding: 3em 1.5em;
  }
  .careers .container {
    grid-template-columns: 1fr;
    gap: 2em;
  }
  .careers .container .career_images img {
    width: 100%;
  }
  .careers .container .career_text h2 {
    font-size: 2em;
  }
  .careers .container .career_text p {
    font-size: 0.9em;
  }
  .careers .container .career_text .btn {
    padding: 0.8em 2em;
  }
  footer {
    padding: 1em;
  }
  footer .container {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 2em;
    gap: 1em;
  }
  footer .container .footer-logo h1 {
    font-size: 2em;
  }
  footer .container .footer_nav ul {
    gap: 2em;
  }
  footer .footer_bottom p {
    font-size: 0.7em;
  }
  .how-we-work {
    padding: 3em 1.5em;
  }
  .how-we-work .container {
    gap: 1em;
  }
  .about-us {
    padding: 3em 1.5em;
  }
  .about-us .container {
    grid-template-columns: 1fr;
    gap: 2em;
  }
  .about-us .container .image_about h1 {
    font-size: 2em;
  }
  .about-us .container .image_about .about_image img {
    max-width: 100%;
  }
  .about-us .container .about-content .about-text p {
    font-size: 0.9em;
  }
}/*# sourceMappingURL=style.css.map */